*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background-color: #0b0c10;
    color: #ffffff;
    line-height: 1.6;
}
/* Header */
header{
      background: linear-gradient(90deg, #383d4f, #212138, #2a2f3d);
      padding: 20px;
      text-align: center;
      border-bottom: 5px solid rgb(41, 197, 168);
      box-shadow: 0px 4px 10px rgba(27, 216, 178, 0.532);
}

header h1{
    color: rgb(50, 58, 212);
    font-size: 6vh;
    -webkit-text-stroke: 2px rgb(30, 16, 85);
}

header p{
    color: #3ebdbb;
    font-size: 2.5vh;
}


/* Main */
main{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.image-section {
    text-align: center;
}

.image-section img {
    border: 3px solid #1d41c2;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #5968d9a4;
}

.sumario {
    background-color: #1a1a20;
    padding: 20px;
    border-left: 5px solid #0fb178;
    border-radius: 8px;
    box-shadow: -5px 4px 10px #60a6ab57;
}

.sumario h2{
  color: rgb(116, 205, 195);
}

.sumario p{
    text-align: justify;
}

.feiticos {
    background-color: #111;
    margin-top: 6vh;
    padding: 20px;
    border-left: 5px solid #26457d;
    border-radius: 8px;
    box-shadow: -5px 4px 10px #282f7c57;
}

.feiticos h2 {
    color: #4855b8;
    margin-bottom: 10px;
}

ul {
    list-style: square;
    padding-left: 20px;
}

/* Botão Inicio */
/* Botão para o inicio */
/* From Uiverse.io by gharsh11032000 */ 
/* primeiro botão */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 0 0 2px #14b48c;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.botao_container {
    display: flex;
    justify-content: center;
    margin: 60px 0 40px 0;
}
  /* Primeira seta */
.animated-button svg {
  position: absolute;   
  width: 24px;
  fill: #00bdb0;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #120b35;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 2px 3px #5b65a5;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
  color: rgb(255, 255, 255);
}

.animated-button:hover svg {
  fill: #6261bd;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #7e73d7;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}